*{
  box-sizing: border-box;
  color: #fff;
}

body{
  background-image: url(../img/bg2_1920x1200.jpg);
  background-size: cover;
}

.container{
  width: 800px;
  margin: auto;
  margin-top:20px;
}

header, nav, main{
  margin-bottom: 10px;
}

header{
  border-bottom: 1px solid white;
  padding-left: 5px;
}

main{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 5px 0 5px 0;
}

h2{
  font-weight: lighter;
  margin: 5px;
}

#logo{
  display: inline-block;
  vertical-align: top;
}

#button{
  color: black;
  border-radius: 3px;
  background-color: #fafafa;
  border: 1px solid black;
  font-size: 12px;
}

#search_bar{
  color: black;
}

#ur_msg{
  display: inline-block;
  background-color: orange;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 22px;
  font-weight: lighter;
  text-align: center;
  line-height: 45px;
}

#end_logo{
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

#signature{
  font-size: 16px;
  font-style: italic;
}

.item{
  height: 25px;;
  border: 1px solid black;
  padding-left: 5px;
  line-height: 25px;
}

.msg_read{
  background-color: #dde;
}

.msg_unread{
  background-color: #fff;
}

.oggetto, .star{
  color: black;
  font-weight: bold;
}

.corpo, .spazio{
  color: grey;
}
