*{
  box-sizing: border-box;
  color: white;
}

body{
  background-color: black;
  /* background-image: url(img/bg2_1920x1200.jpg); */
  /* background-size: contain; */
}

header{
  border-bottom: 1px solid white;
  border-color: white;
  padding: 5px;
}

h1{
  font-weight: lighter;
}

#logo{
  display: inline;
}
